.app {
  display: flex;
  flex-direction: column;
  height: 1204.33px;
  align-items: flex-start;
  gap: 55.67px;
  padding: 39.67px 16px 0px;
  position: relative;
  background-color: #000000;
}

.app .data-preprocessing {
  display: flex;
  flex-direction: column;
  height: 438px;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.app .heading {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.app .text-wrapper {
  position: absolute;
  top: -2px;
  left: 0;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.app .container {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 350px;
}

.app .div {
  position: absolute;
  top: 0;
  left: 48px;
  width: 2px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 10px;
}

.app .container-2 {
  position: absolute;
  top: 80px;
  left: 48px;
  width: 64px;
  height: 2px;
  background-color: #ffffff;
}

.app .paragraph {
  position: absolute;
  top: 56px;
  left: 124px;
  width: 208px;
  height: 60px;
  display: flex;
}

.app .cleansing-of-NULL {
  margin-top: -1.3px;
  width: 173px;
  height: 60px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.app .container-3 {
  position: absolute;
  top: 240px;
  left: 48px;
  width: 720px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 22369600px;
}

.app .container-4 {
  position: absolute;
  top: 191px;
  left: 280px;
  width: 6px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.app .container-5 {
  margin-left: -5.5px;
  width: 12px;
  height: 10px;
  border-right-width: 6px;
  border-right-style: solid;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: transparent;
}

.app .container-6 {
  width: 2px;
  height: 40px;
  background-color: #ffffff;
}

.app .div-wrapper {
  position: absolute;
  top: 168px;
  left: 249px;
  width: 75px;
  height: 20px;
  display: flex;
}

.app .text-wrapper-2 {
  margin-top: -1.3px;
  width: 78px;
  height: 20px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.app .container-7 {
  position: absolute;
  top: 150px;
  left: 674px;
  width: 7px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.app .container-8 {
  margin-left: -7px;
  width: 2px;
  height: 50px;
  background-color: #ffffff;
}

.app .paragraph-2 {
  position: absolute;
  top: 150px;
  left: 605px;
  width: 125px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.app .text-wrapper-3 {
  margin-left: -1px;
  width: 127px;
  height: 20px;
  margin-top: -1.3px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.app .text-wrapper-4 {
  margin-left: 35.0px;
  width: 55px;
  height: 20px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.app .container-9 {
  position: absolute;
  top: 240px;
  left: 140px;
  width: 6px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.app .container-10 {
  width: 2px;
  height: 50px;
  background-color: #ffffff;
}

.app .container-11 {
  margin-left: -5.5px;
  width: 12px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: transparent;
}

.app .normalization-of-wrapper {
  position: absolute;
  top: 300px;
  left: 28px;
  width: 224px;
  height: 40px;
  display: flex;
}

.app .normalization-of {
  margin-top: -1.3px;
  width: 187px;
  height: 40px;
  margin-left: 18.7px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.app .container-wrapper {
  position: absolute;
  top: 239px;
  left: 478px;
  width: 6px;
  height: 60px;
  display: flex;
}

.app .separation-of-wrapper {
  position: absolute;
  top: 300px;
  left: 352px;
  width: 256px;
  height: 40px;
  display: flex;
}

.app .separation-of {
  margin-top: -1.3px;
  width: 208px;
  height: 40px;
  margin-left: 24.2px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.app .container-12 {
  position: absolute;
  top: 240px;
  left: 766px;
  width: 7px;
  height: 300px;
}

.app .container-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 165px;
  background-color: #ffffff;
}

.app .container-14 {
  position: absolute;
  top: 80px;
  left: -6px;
  width: 12px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: transparent;
}

.app .results {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 655px;
}

.app .imagem-wrapper {
  position: absolute;
  top: 80px;
  left: 210px;
  width: 400px;
  height: 400px;
  display: flex;
  border-radius: 22369600px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.app .imagem {
  margin-top: -26px;
  width: 699px;
  height: 393px;
  margin-left: -149.3px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.app .container-15 {
  position: absolute;
  top: 0;
  left: 761px;
  width: 12px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
  border-color: transparent;
}

.app .heading-2 {
  position: absolute;
  top: 16px;
  left: 725px;
  width: 64px;
  height: 36px;
  display: flex;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.app .text-wrapper-5 {
  margin-top: -2.7px;
  width: 81px;
  height: 30px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.app .container-16 {
  display: flex;
  width: 757px;
  height: 655px;
  align-items: flex-end;
  justify-content: center;
  gap: 96px;
  padding: 0px 0px 0px 2.29e-05px;
  position: absolute;
  top: 0;
  left: 32px;
}

.app .container-17 {
  display: flex;
  flex-direction: column;
  width: 136px;
  height: 175px;
  align-items: center;
  gap: 16px;
  position: relative;
}

.app .container-18 {
  position: relative;
  flex: 1;
  width: 136px;
  flex-grow: 1;
}

.app .container-19 {
  display: flex;
  width: 60px;
  height: 135px;
  align-items: center;
  justify-content: center;
  padding: 0px 0.01px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid;
  border-color: #ffffff;
}

.app .text {
  position: relative;
  width: 26.55px;
  height: 20px;
}

.app .text-wrapper-6 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 27px;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.app .container-20 {
  display: flex;
  width: 60px;
  height: 105px;
  align-items: center;
  justify-content: center;
  padding: 0px 0.01px 0px 0px;
  position: absolute;
  top: 30px;
  left: 76px;
  background-color: #000000;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid;
  border-color: #ffffff;
}

.app .paragraph-3 {
  position: relative;
  width: 44.66px;
  height: 24px;
}

.app .text-wrapper-7 {
  position: absolute;
  top: -2px;
  left: 0;
  font-family: "Arimo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.app .paragraph-4 {
  position: relative;
  width: 17.91px;
  height: 24px;
}

.app .paragraph-5 {
  position: relative;
  width: 33.48px;
  height: 24px;
}
